#layout-footer {
  height: 50px;;
  color: white;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
    #layout-footer .footer-nav span{
      margin-left: 150px;
      margin-top:10px;
      padding: 5px 10px;
    }
